<div class="ws-schedule" id="ws-schedule2">
    <table>
        <tbody>
            <tr class="topheader">
                <th class="rowheader"></th>
                <th>18h30</th>
                <th>18h45</th>
                <th>19h</th>
                <th>19h15</th>
                <th>19h30</th>
                <th>19h45</th>
                <th>20h</th>
                <th>20h15</th>
                <th>20h30</th>
                <th>20h45</th>
                <th>21h</th>
                <th>21h15</th>
                <th>21h30</th>
                <th>21h45</th>
                <th>22h</th>
                <th>22h15</th>
            </tr>
            <tr class="row2 firstrowofday">
                <th rowspan="2" class="rowheader">Dimanche</th>
                <td></td>
                <td></td>
                <td class="ws-item-2 cat2" style="background-color:#CC0000;" colspan="4">
                    <div class="ws-item-title ws-item-title-2"><a target="" href="http://localhost/ymaa">Fitness</a></div>
                    <br>test</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row2 firstrowofday">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Mon</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="ws-item-2 cat2" style="background-color:olive;" colspan="4">
                    <div class="ws-item-title ws-item-title-2">Qigong</div>
                    <br>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Tue</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Wes</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Thu</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Fri</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="row1 firstrowofday">
                <th rowspan="1" class="rowheader">Sat</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>