<div class="ws-schedule" id="ws-schedule2">
    <div class="verticalcolumn">
        <table class="verticalheader">
            <tbody>
                <tr class="topheader">
                    <th class="rowheader"></th>
                </tr>
                <tr class="datarow">
                    <th>19h</th>
                </tr>
                <tr class="datarow">
                    <th>19h30</th>
                </tr>
                <tr class="datarow">
                    <th>20h</th>
                </tr>
                <tr class="datarow">
                    <th>20h30</th>
                </tr>
                <tr class="datarow">
                    <th>21h</th>
                </tr>
                <tr class="datarow">
                    <th>21h30</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn2">
        <table class="vertical2">
            <tbody>
                <tr class="vertrow2">
                    <th class="rowheader">« Dimanche</th>
                </tr>
                <tr class="datarow2">
                    <td class="ws-item-2 cat2" style="background-color:#CC0000;" tooltip="test" data-hasqtip="0">
                        <div class="ws-item-title ws-item-title-2"><a target="" href="http://localhost/ymaa">Fitness</a></div>
                    </td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn2">
        <table class="vertical2">
            <tbody>
                <tr class="vertrow2">
                    <th class="rowheader">Dimanche »</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Mon</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow2">
                    <td class="ws-item-2 cat2" style="background-color:olive;">
                        <div class="ws-item-title ws-item-title-2">Qigong</div>
                    </td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Tue</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Wes</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Thu</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Fri</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="verticalcolumn1">
        <table class="vertical1">
            <tbody>
                <tr class="vertrow1">
                    <th class="rowheader">Sat</th>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
                <tr class="datarow">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>